.qwebclient{
    padding:0px; margin:0px;
}
.divStructure {
    padding:0px; margin:0px;
}
.divWidget {
    position: absolute;
    padding:0px; margin:0px;
}
.nativeWidget {
    position: absolute;
    padding:0px; margin:0px;
}
